/* CLICK ANIMATION + POINTS */

.plus-box{
    font-size: 15px;
    position: relative;
    font-family: sans-serif;
    top: 0%;
    left: 5%;
  }
  .plus-box span{
    animation: mover 0.5s linear;
    display: inline-block;
    color: white;
    font-weight: bolder;
    animation-fill-mode: forwards;
  }
  @keyframes mover
  {
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        transform: translateY(-30px);
      }
    100%
      {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
        color: transparent;
        transform: translateY(-50px);
      }
  }